.section {
  .card {
    margin: 0.5rem 1rem;
    width: calc(100% / 4 - (2rem));
    @media screen and (max-width: 900px) {
      width: calc(100% / 3 - (2rem));
    }
    @media screen and (max-width: 768px) {
      width: calc(100% / 2 - (2rem));
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      margin: 0.5rem 0;
    }
    .btn {
      text-transform: uppercase;
      &__hasoverlay {
        position: relative;
      }
      &__hasoverlay::after {
        content: "";
        position: absolute;
        display: block;
        width: 20%;
        height: 100%;
        background-color: $shades-4;
        right: 0;
        top: 0;
      }
    }
  }
}
