$shades-1: #ffffff;
$shades-2: #efefef;
$shades-3: #c7c7c7;
$shades-4: #767676;
$shades-5: #0a0a0a;
$primary-color: #e92569;
$primary-color-muted: #c0255b;

$background-grads: radial-gradient($shades-1, #d4d4d4);

$primary-font: "Playfair Display", serif;
$secondary-font: "Lato", sans-serif;
